# Ignorowanie plików klucza prywatnego
aws/my-key-pair.pem
aws/output.json

# Ignorowanie skompresowanych plików
aws/lambda_function.zip

# Ignorowanie plików terraform
iac/terraform/terraform.tfstate
iac/terraform/terraform.tfstate.backup
iac/terraform/.terraform/
iac/terraform/.terraform.lock.hcl

# Ignorowanie plików Ansible
iac/ansible/inventory
iac/ansible/*.retry

# Ignorowanie plików tymczasowych edytorów
*.swp
*.swo
*.bak
